.DARKBROWN {
color: #4F3B38;
}
.DARKBROWN-NAVTRANSPARENT {
color: rgba(48, 36, 34, 0.9);
}
.ROYALBLUE {
color: #07284C;
}

.LIGHTYALEBLUE {
color: #7879A1;
}

.CREAM {
color: #F0E3C1;
}

.OFFWHITE {
color: #E7EBE3;
}
